vim/.vim/
setting.json
*.o
*.*.swp
.*.*.swp
twitnotify
.git
.zshcomp
.zshlocalenv
.zshlocalfunc
.dub
dub.selections.json
myscripts/.myscripts/amv/amv
myscripts/.myscripts/cxz/cxz
myscripts/.myscripts/xxz/xxz
streamFilter
